---



const getAccessToken= async (code: string) => {

const params = new URLSearchParams();
    params.append("grant_type", "authorization_code");
    params.append("code", code);
    params.append("client_id",'5b859d87f2aa4ab7bccf9650aa19f62b');
    params.append("redirect_uri", "http://localhost:4321/callback");
    params.append("client_secret",'b405c1a277d342f0ac2139db9d679146');

  const result = await fetch("https://accounts.spotify.com/api/token", {
        method: "POST",
        headers: {
            "Content-Type": "x-www-form-urlencoded",
        },
        body: params
    });

    console.log('result', result);

}

const code = Astro.url.searchParams.get('code');
// TODO: get token from code, and now we can access to user INFO.

if (code) {
    getAccessToken(code);
}


export const prerender = false

---


<h1>Esto es un callback</h1>