<h1>Loading...</h1>

<div>
</div>

<script type="module">
    const paramsUrl = new URLSearchParams(window.location.search);
    const code = paramsUrl.get('code');

    const params = new URLSearchParams();
    params.append("grant_type", "authorization_code");
    params.append("code", code);
    params.append("client_id",'5b859d87f2aa4ab7bccf9650aa19f62b');
    params.append("redirect_uri", "http://localhost:4321/callback");
    params.append("client_secret",'b405c1a277d342f0ac2139db9d679146');
  
    fetch(`https://accounts.spotify.com/api/token?${params}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('Error en la autenticación');
      }
    })
    .then(data => {
      window.location.href = '/home'; 
    })
    .catch(error => console.error('Error al autenticar:', error));
  </script>
  